<h1 style="font-size:27px;">Otp requst to add admin</h1>
<h2 style="font-size:24px;letter-spacing:4px;">{{code}}</h2>
<p>This OTP will expire in <b>30 seconds</b>.</p>
<p>Best,<br/>The EduBridge Team</p>